<%- include('header.ejs'); %>
<%- include('navigation.ejs', {menu: menu}); %>

    <!-- Home -->
    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5" data-aos="fade-right">
          <h1 class="headline">
            Best <span class="home_text">Broadband</span><br />Internet Plans For
            You
          </h1>
          <p class="para para-light py-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus
            tempore accusamus quis magnam doloremque itaque ad modi, pariatur iste
            labore similique officiis impedit aspernatur aperiam facere
            architecto. Eligendi, repellendus inventore!
          </p>
          <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa-laptop-house fa-lg"></i></p>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa-wifi fa-lg"></i></p>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="my-3">
            <a class="btn" href="#plans">View Plans</a>
          </div>
        </div>
        <!-- end of container -->
      </section>
      <!-- end of home -->
  
      <!-- Information -->
      <section class="information">
        <div class="container-fluid">
          <div class="row text-light">
            <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
              <i class="fas fa-tachometer-alt fa-3x p-2"></i>
              <h4 class="py-3">Download 1 GBPS</h4>
              <p class="para-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                odit consequatur doloribus natus in suscipit!
              </p>
            </div>
            <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
              <i class="fas fa-clock fa-3x p-2"></i>
              <h4 class="py-3">99% Internet Uptime</h4>
              <p class="para-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                odit consequatur doloribus natus in suscipit!
              </p>
            </div>
            <div class="col-lg-4 text-center p-5 text-dark" data-aos="zoom-in">
              <i class="fas fa-headset fa-3x p-2"></i>
              <h4 class="py-3">24/7 Support</h4>
              <p class="para-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                odit consequatur doloribus natus in suscipit!
              </p>
            </div>
          </div>
        </div>
        <!-- end of container -->
      </section>
      <!-- end of information -->
  
      <!-- About -->
      <section class="about d-flex align-items-center text-light py-5" id="about">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
              <p>ABOUT US</p>
              <h1>
                We are top internet <br />
                service company
              </h1>
              <p class="py-2 para-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed
                accusantium aut dolores inventore architecto modi cupiditate
                eligendi corporis, illum illo culpa. Reiciendis, molestias. Illum
                voluptatum quisquam ad veritatis dolorem.
              </p>
              <p class="py-2 para-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed
                accusantium aut dolores inventore architecto modi cupiditate
                eligendi corporis, illum illo culpa. Reiciendis, molestias. Illum
                voluptatum quisquam ad veritatis dolorem.
              </p>
  
              <div class="my-3">
                <a class="btn" href="#your-link">Learn More</a>
              </div>
            </div>
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
              <img
                class="img-fluid"
                src="./assets/images/about.jpg"
                alt="about"
              />
            </div>
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </section>
      <!-- end of about -->
  
      <!-- Services -->
      <section class="services d-flex align-items-center py-5" id="services">
        <div class="container text-light">
          <div class="text-center pb-4">
            <p>OUR SERVICES</p>
            <h2 class="py-2">Explore unlimited possibilities</h2>
            <p class="para-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              asperiores, quia accusantium sunt corporis optio recusandae? Nostrum
              libero pariatur cumque, ipsa dolores voluptatibus voluptate alias
              sit fuga. Itaque, ea quo.
            </p>
          </div>
          <div class="row gy-4 py-2" data-aos="zoom-in">
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-home fa-2x"></i>
                <h4 class="py-2">HOME BROADBAND</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-wifi fa-2x"></i>
                <h4 class="py-2">HOME WIFI</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-phone fa-2x"></i>
                <h4 class="py-2">HOME BROADBAND</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-mobile fa-2x"></i>
                <h4 class="py-2">MOBILE CONNECTION</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-home fa-2x"></i>
                <h4 class="py-2">SECURITY</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-transparent">
                <i class="fas fa-tv fa-2x"></i>
                <h4 class="py-2">TV SETUP BOX</h4>
                <p class="para-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                  odit consequatur doloribus natus in suscipit!
                </p>
              </div>
            </div>
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </section>
      <!-- end of services -->

<!-- Plans -->
<section class="plans d-flex align-items-center py-5" id="plans">
  <div class="container text-light">
    <div class="text-center pb-4">
      <p>OUR PLANS</p>
      <h2 class="py-2">Explore unlimited possibilities</h2>
      <p class="para-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        asperiores, quia accusantium sunt corporis optio recusandae? Nostrum
        libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit
        fuga. Itaque, ea quo.
      </p>
    </div>
    <div class="row gy-4" data-aos="zoom-in">
      <% if(plans && plans.length > 0) { %> <% plans.map(plan =>{ %>
      <div class="col-lg-4">
        <div class="card bg-transparent px-4">
          <h4 class="py-2"><%= plan.title %></h4>
          <p class="py-3"><%= plan.description %></p>
          <% if(plan.features && plan.features.length > 0){ %>
          <div>
              <% plan.features.map(feature => { %>
                  <div class="block d-flex align-items-center">
                      <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                      <p><%= feature %></p>
                    </div>
                <% }) %>
          </div>
          <% } %>
          <h4 class="py-3">$<%= plan.price %>/Month</h4>
          <div class="my-3">
            <a class="btn" href="#your-link">View Plans</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <!-- end of row -->
    <% } %>
  </div>
  <!-- end of container -->
</section>
<!-- end of plans -->

 <!-- Work -->
 <section class="work d-flex align-items-center py-5">
    <div class="container-fluid text-light">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right">
          <img class="img-fluid" src="./assets/images/work.jpg" alt="work" />
        </div>
        <div class="col-lg-5 d-flex align-items-center px-4 py-3" data-aos="">
          <div class="row">
            <div class="text-center text-lg-start py-4 pt-lg-0">
              <p>OUR WORK</p>
              <h2 class="py-2">Explore unlimited possibilities</h2>
              <p class="para-light">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dignissimos dicta mollitia totam explicabo obcaecati quia
                laudantium repudiandae.
              </p>
            </div>
            <div class="container" data-aos="fade-up">
              <div class="row g-5">
                <div class="col-6 text-start">
                  <i class="fas fa-briefcase fa-2x text-start"></i>
                  <h2
                    class="purecounter"
                    data-purecounter-start="0"
                    data-purecounter-end="1258"
                    data-purecounter-duration="3"
                  >
                    1
                  </h2>
                  <p>PROJECTS COMPLETED</p>
                </div>
                <div class="col-6">
                  <i class="fas fa-award fa-2x"></i>
                  <h2
                    class="purecounter"
                    data-purecounter-start="0"
                    data-purecounter-end="150"
                    data-purecounter-duration="3"
                  >
                    1
                  </h2>
                  <p>AWARDS</p>
                </div>
                <div class="col-6">
                  <i class="fas fa-users fa-2x"></i>
                  <h2
                    class="purecounter"
                    data-purecounter-start="0"
                    data-purecounter-end="1255"
                    data-purecounter-duration="3"
                  >
                    1
                  </h2>
                  <p>CUSTOMER ACTIVE</p>
                </div>
                <div class="col-6">
                  <i class="fas fa-clock fa-2x"></i>
                  <h2
                    class="purecounter"
                    data-purecounter-start="0"
                    data-purecounter-end="1157"
                    data-purecounter-duration="3"
                  >
                    1
                  </h2>
                  <p>GOOD REVIEWS</p>
                </div>
              </div>
            </div>
            <!-- end of container -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of col-lg-5 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </section>
  <!-- end of work -->
  
<%- include('footer.ejs'); %>
