<div class="row gy-4" data-aos="zoom-in">
    <% if(users && users.length > 0) { %> <% users.map(user =>{ %>
    <div class="col-lg-4">
      <div class="card bg-transparent px-4">
        <h4 class="py-2"><%= user.firstname %> <%= user.lastname %> <%= user.age %> ans</h4>
      </div>
    </div>
    <% })} %>
  </div>